# kate: indent-width 2;

clone_depth: 1

environment:
  matrix:
  - TARGET: desktop
    COMPILER: msvc
    ANSI_COLORS: ON
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - TARGET: desktop
    COMPILER: msvc
    ANSI_COLORS: ON
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
  - TARGET: desktop
    COMPILER: msvc
    ANSI_COLORS: OFF
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - TARGET: desktop
    COMPILER: mingw
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - TARGET: rt
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
  - TARGET: rt
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017

notifications:
- provider: Webhook
  url: https://webhooks.gitter.im/e/415ae90928ba0dbd3df4
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: true

install:
- cinst ninja
- set PATH=C:/tools/ninja;%PATH%
# `cinst mingw` fails with 404 since Dec 2016, `appveyor Downloadfile` fails
# with "Message string length exceeds 32k characters" so I have to call a
# fucking powershell command in order to download a file. Oh and %20 in the URL
# somehow gives a 404 ALSO so I have to explicitly use spaces. WHAT THE FUCK!
- IF "%TARGET%" == "desktop" IF "%COMPILER%" == "mingw" IF NOT EXIST %APPVEYOR_BUILD_FOLDER%\x86_64-6.3.0-release-posix-seh-rt_v5-rev1.7z powershell -Command "(new-object System.Net.WebClient).Downloadfile('https://sourceforge.net/projects/mingw-w64/files/Toolchains targetting Win64/Personal Builds/mingw-builds/6.3.0/threads-posix/seh/x86_64-6.3.0-release-posix-seh-rt_v5-rev1.7z', 'x86_64-6.3.0-release-posix-seh-rt_v5-rev1.7z')"
- IF "%TARGET%" == "desktop" IF "%COMPILER%" == "mingw" cd C:\tools && 7z x %APPVEYOR_BUILD_FOLDER%\x86_64-6.3.0-release-posix-seh-rt_v5-rev1.7z && cd %APPVEYOR_BUILD_FOLDER%

build_script:
- IF "%TARGET%" == "desktop" IF "%COMPILER%" == "msvc" call package\ci\appveyor-desktop.bat
- IF "%TARGET%" == "desktop" IF "%COMPILER%" == "mingw" call package\ci\appveyor-desktop-mingw.bat
- IF "%TARGET%" == "rt" call package\ci\appveyor-rt.bat

cache:
- x86_64-6.3.0-release-posix-seh-rt_v5-rev1.7z
